<h2>Update Info</h2>
<br>
<% if (typeof config != 'undefined') { %>
  <div class="row-fluid" id="config">
    <h3>Config</h3>
    <div class="span12" id="sets">
      <h4>app.set</h4>
      <% config.sets.forEach(function(option){ %>
        <%= option.variable %>: <input type="text" name="<%= option.variable %>" value="<%= option.value %>">
        <br>
      <%}) %> 
    </div>
    <div class="span12" id="uses">
      <h4>app.use</h4>
      <% config.uses.forEach(function(option){ %>
        <%= option.variable %> <input type="checkbox" name="<%= option.variable %>" value=true>
        <br>
      <% }) %>
    </div>
  </div>
<% } %>

<% if (typeof routes != 'undefined') { %>
  <div class="row-fluid">
    <h3>Routes</h3>
    <% routes.forEach(function(route) { %>
      <% if (route.get) { %>
      <form id="<%= route.get %>" method="post">
        <br>
          Name: <input type="text" name="name" value="<%= route.name %>"><br>
          <input type="hidden" name="oldName" value="<%= route.name %>">
          Get: <input type="text" name="get" value="<%= route.get %>"><br>
          Action: <input type="text" name="action" value="<%= route.action %>"><br>
        <br>
        <button type="submit">Submit</button>
      </form>
      <% } %>
      <% if (route.module) { %>
        <br>/<%= route.module %> (module) <input type="checkbox" name="<%= route.module %>" value=true><br>
      <% } %>
    <% }); %>
  </div>
<% } %>

<% if (typeof modules != 'undefined') { %>
  <div class="row-fluid">
    <h3>Modules</h3>
    <% modules.forEach(function(module) { %>
      <h4><%= module.name %></h4>
      Name: <input type="text" name="<%= module.name %>" value="<%= module.name %>">
      <% module.gets.forEach(function(get) { %>
        <br>Path: <input type="text" name="<%= get.path %>" value="<%= get.path %>"><br>
        Action: <textarea name="<%= get.action %>"> <%= get.action %></textarea> <br><br>
      <% }); %>
    <% }); %>
  </div>
<% } %>
