<h2>System Info</h2>
<br>
<div class="row-fluid" id="config">
  <h3>Config</h3>
  <div class="span5 pull-left" id="sets">
    <h4>app.set</h4>
    <% config.sets.forEach(function(option){ %>
      <%= option.variable %>: <%= option.value %>
      <br>
    <%}) %> 
  </div>
  <div class="span5 pull-right" id="uses">
    <h4>app.use</h4>
    <% config.uses.forEach(function(option){ %>
      <%= option.variable %>
      <br>
    <%}) %>
  </div>
</div>

<br><hr><br>

<div class="row-fluid">
  <div class="span5 pull-left" id="routes">
    <h3>Routes</h3>
    <% if (typeof routes != 'undefined') { %>
    <% routes.forEach(function(route) { %>
      <% if (route.name) { %>
        <div>GET <%= route.name %> : <%= route.name %> </div>
      <% } %>
    <% }); %>
    <% } %>
  </div>
</div>